:root {
  --fontColor: #ffffff;
}

.menu {
  text-align: right;
  padding: 25px 70px;
}

.menuLink {
  text-decoration: none;
  text-transform: uppercase;
  color: var(--fontColor);
  margin-right: 30px;
}
.menu-ul__li {
  display: inline-block;
}

.menu-a {
}
