.blog-container {
  min-height: 1350px;
}

.blog-header {
  color: #ba5a66;
  text-align: center;
}

@media screen and (min-width: 1024px) {
  .cards-container {
    width: 80%;
    height: 100%;
    margin: 25px auto;
    padding: 0 50px;
  }

  .article-content p {
    margin-bottom: 10px;
  }
}
