:root {
  --mainPartInsideBgColor: #f2f2f2;
  --mainPartDefaultFontColor: #5abaae;
}
.mainPart {
  background-color: var(--mainPartBgColor);
  color: var(--mainPartDefaultFontColor);
  width: 100%;
  min-height: 720px;
}

.mainPart-inside {
  background-color: var(--mainPartInsideBgColor);
  border-radius: 37px;
  width: 100%;
  min-height: 720px;
  padding-top: 30px;
  padding-bottom: 30px;
}
