:root {
  --mainHeaderColor: #ba5a66;
  --btnKontaktyColor: #ba5a66;
  --btnKontaktyFontColor: #76c9c3;
}

.home {
  text-align: left;
}

.header-h1 {
  text-align: center;
  text-transform: uppercase;
  font-size: 30px;
  font-weight: bold;
  color: var(--mainHeaderColor);
}

.header-h2 {
  color: var(--h2HeaderColor);
}

.infostatsbox {
  width: 75%;
  display: flex;
  justify-content: space-between;
  gap: 90px;
  margin: 75px auto;
}

.info {
  flex: 1 0 45%;
  /*padding: 0 15px 0 30px; */
}

.stats {
  flex: 1 1 45%;
  padding-top: 30px;
}

.p--stats__p1 {
  position: relative;
  margin-bottom: 10px;
}

.p--stats__p1__star {
  font-size: 10px;
  color: #ba5a66;
  position: absolute;
}

.p--stats__p2 {
  font-size: 10px;
  font-style: italic;
  margin-top: 10px;
}

.stats--psychograf {
  width: 295px;
}

.alert {
  width: 75%;
  margin: 0 auto;
  padding: 15px 30px;
}

.p--alert__p2 {
  margin: 10px 0;
}

.a--btn__kontakty {
  display: block;
  padding: 10px;
  width: 150px;
  background-color: var(--btnKontaktyColor);
  color: var(--btnKontaktyFontColor);
  text-decoration: none;
  border-radius: 10px;
  margin: 10px auto;
  text-align: center;
}

.a--btn__kontakty:hover {
  padding: 11px;
}

.btn--kontakty {
  max-width: 100px;
  margin: 0 auto;
}
